button.ant-switch.ant-switch-small.ant-switch-checked{
    background: #18ff5f;
}
button.ant-switch.ant-switch-small{
    background: #fd0202;
}
.buttonAttendance{
    border: none;
    color: blue;
}
.buttonAttendance:hover{
    background-color: blue;
    color: white;
}
img{
    cursor: pointer;
}